build/*
*.build
nodetcl.node
src/nodetcl.node
*.cache
*DS_Store*
*.log
*~
*.o
src/*.o
*.status
confdefs.h
config.h
conftest*
.lock-wscript
MacPorts/*/*/work
.waf-1.*.*/*
*(Autosaved)*
node_modules/*
stamp-h*
conf*/*.awk
conf*.dir
conf*.file
Makefile
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
libtool
*libs/*
*/*libs/*
*.lo
config.lt
*.dSYM
nodetcl-1.0.0/*
